<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>663128131230-uafcqf1n1tvgvih133kccdlr72fd4hrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663128131230-uafcqf1n1tvgvih133kccdlr72fd4hrg</string>
	<key>API_KEY</key>
	<string>AIzaSyCxeLjf2EMGDIAzRH08AEk8bnaX2YtI90A</string>
	<key>GCM_SENDER_ID</key>
	<string>663128131230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.curso.keep.PracticaBoot4-FB-ScoopsEV</string>
	<key>PROJECT_ID</key>
	<string>practicaboot4-fb-scoopsev</string>
	<key>STORAGE_BUCKET</key>
	<string>practicaboot4-fb-scoopsev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:663128131230:ios:47cc09c8206373f2</string>
	<key>DATABASE_URL</key>
	<string>https://practicaboot4-fb-scoopsev.firebaseio.com</string>
</dict>
</plist>